@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }

   /* ============ HERO============ */

    .hero > .container {
      width: 1158px;
      padding-top: 188px;
      padding-bottom: 188px;
    }

    .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-desktop-2x.jpg);
    }
}

   /* =======TEAM========== */

    .team {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .team-card {
      width: calc((100% - 90px) / 4);
    }
  
    /* =================CUSTOMERS=================== */

    .customers-container {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .customers-list-item {
      width: calc((100% - 150px) / 6);
    }
  
  }