@media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
  
    .team {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .team-card {
      width: calc((100% - 90px) / 4);
    }
  
    .customers-container {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .customers-list-item {
      width: calc((100% - 150px) / 6);
    }
  
  }