@media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }

    /* ===============HEADER============== */

    .page-header {
      padding-top: 0;
      padding-bottom: 0;
  }

  .logo-pos-header {
    margin-right: 120px;
}

    .contact-header {
      display: block;
    }
    
    .menu {
      display: flex;
      position: relative;
  }

    .menu-open-icon {
      display: none;
    }
    
    
    .menu-item:not(:last-child) {
      margin-right: 40px;
    }
    
    
    .menu-link {
      display: inline-block;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
      color: var(--color-navy-blue);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link:hover,
    .menu-link:focus {
      color: var(--accent-color);
    }
    
    .current::after {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    content: "";
    left: 0;
    bottom: -28px;
    }
    
    .active {
      color: var(--accent-color);
    }
    
    .contact {
      margin-right: auto;
    }

    
    .contact-email,
    .contact-phone {
      font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
      color: var(--color-slate);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-email:hover,
    .contact-email:focus {
      color: var(--accent-color);
    }
    
    .contact-phone:hover,
    .contact-phone:focus {
      color: var(--accent-color);
    }

    .menu-open {
      display: none;
    }

    /* ============ HERO============ */

    .hero > .container {
      padding-left: 15px;
      padding-right: 15px;
      width: 720px;
    }

    .hero {
      padding: 112px 136px;
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tab.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tab-2x.jpg);
    }
}
    
    .hero-title {
      width: 496px;
      margin-bottom: 40px;
      font-size: 56px;
      line-height: 1.07;
    }

    /* ===============DISCRIPTION================ */
   

    .discrip {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }

    .subtitle-discrip {
      text-align: start;
    }

    .discrip-text {
      flex-basis: calc((100% - 1 * 24px) / 2);
    }

    

    /* ================WHAT ARE WE DOING=================== */
    .team-section {
      display: none;
    }
    
    /* =======TEAM========== */

    .team > .container {
      padding-left: 107px;
      padding-right: 107px;
  }

    .team {
      padding-top: 96px;
      padding-bottom: 96px;
      margin-left: auto;
      margin-right: auto;
    }

    .employees {
      flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}


    .title-team {
      margin-bottom: 72px;
      
    }
  
    .team-card {
      flex-basis: calc((100% - 1 * 24px) / 2);
    }

    
    /* =================CUSTOMERS=================== */

    .customers-container {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  
    .customers-list-item {
      flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .customers-list-link {
      width: 168px;
    }

    
    .customers-list {
      column-gap: 24px;
      row-gap: 72px;
  }
  

  /* ==========FOOTER============== */
  
  .footer > .container {
    padding-left: 108px;
    padding-right: 108px;
}

.footer-container {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  align-items: flex-start;
}
    
.footer-info {
  align-items: flex-start;
}


.social-media-block {
  align-items: flex-start;
}

.sub-text {
  align-items: flex-start;
    width: auto;
    max-width: none;
}

.modal-form-footer {
  flex-direction: row;
}

.modal-form-message-footer {
  width: 264px;
}
}
